<div class="header-container">
  <app-logo-namespace class="logo"></app-logo-namespace>
  <mat-toolbar-row class="header">
    <div class="header__tabs">
      <ng-container *ngFor="let page of pagesArr">
        <button
          mat-button
          class="header__tabs__tab"
          (click)="navigateTo(page.route)"
        >{{page.name}}</button>
      </ng-container>
    </div>
  </mat-toolbar-row>
  <ng-container *ngIf="preloader">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
</div>
<!--<img src="assets/gif/shadow-fiend_1.gif">-->

